.container {
  background: red;
  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 78px 0px;
    min-width: 350px;
    > :nth-child(1),
    > :nth-child(2) {
      text-align: center;
    }
    > * {
      width: 100%;
      max-width: 450px;
    }
    button {
      width: initial;
      max-width: 150px;
    }
  }
  > :first-child {
    background-color: lightyellow;
    color: black;
  }
  > :last-child {
    background-color: rgb(21, 18, 18);
    --text-default-color: white;
    --input-text-color: white;
  }
}
